openapi: "3.1.0"
info:
  title: "Gizmo"
  description: "Gizmo REST API"
  version: "1.0.0"
components:
  securitySchemes:
    "bearerAuth":
      type: "http"
      scheme: "bearer"
  schemas:
    "OrgId":
      type: "string"
      minLength: 32
      maxLength: 32
    "Milestone":
      type: "string"
      enum:
        - "NEW"
        - "ATTEMPTED"
        - "CONTACTED"
        - "CREDIT_PULLED"
        - "PRE_APPROVED"
        - "APPLICATION"
        - "PROCESSING"
        - "SUBMITTAL"
        - "RESUBMITTAL"
        - "CONDITIONALLY_APPROVED"
        - "FINAL_APPROVED"
        - "DOCS_OUT"
        - "FUNDED"
        - "PURCHASED"
        - "COMPLETED"
        - "WITHDRAWN"
        - "DENIED"
    "State":
      description: "The two-letter state abbreviation in lowercase"
      type: "string"
      enum:
        - "al"
        - "ak"
        - "az"
        - "ar"
        - "ca"
        - "co"
        - "ct"
        - "de"
        - "dc"
        - "fl"
        - "ga"
        - "hi"
        - "id"
        - "il"
        - "in"
        - "ia"
        - "ks"
        - "ky"
        - "la"
        - "me"
        - "md"
        - "ma"
        - "mi"
        - "mn"
        - "ms"
        - "mo"
        - "mt"
        - "ne"
        - "nv"
        - "nh"
        - "nj"
        - "nm"
        - "ny"
        - "nc"
        - "nd"
        - "oh"
        - "ok"
        - "or"
        - "pa"
        - "ri"
        - "sc"
        - "sd"
        - "tn"
        - "tx"
        - "ut"
        - "vt"
        - "va"
        - "wa"
        - "wv"
        - "wi"
        - "wy"
    "LoanPurpose":
      type: "string"
      enum:
        - "purchase"
        - "refi"
        - "refiCashOut"
    "Application":
      description: "The Application object"
      type: "object"
      properties:
        "id":
          type: "string"
        "orgId": {"$ref": "#/components/schemas/OrgId"}
        "createdAt":
          type: "number"
        "updatedAt":
          type: "number"
        "status": {"$ref": "#/components/schemas/Milestone"}
        "primaryBorrowerFirstName":
          type: "string"
        "primaryBorrowerLastName":
          type: "string"
        "primaryBorrowerEmail":
          type: "string"
        "primaryBorrowerPhone":
          type: "string"
        "primaryBorrowerDateOfBirth":
          type: "string"
        "primaryBorrowerSsn":
          type: "string"
        "subjectPropertyState": {"$ref": "#/components/schemas/State"}
        "subjectPropertyStreetAddress":
          type: "string"
        "subjectPropertyCity":
          type: "string"
        "subjectPropertyZip":
          type: "string"
        "loanPurpose": {"$ref": "#/components/schemas/LoanPurpose"}
        "losId":
          type: "string"
        "crmId":
          type: "string"
        "leadProviderSlug":
          type: "string"
        "teamId":
          type: "string"
      required:
        - "id"
        - "orgId"
        - "createdAt"
        - "status"
        - "primaryBorrowerFirstName"
        - "primaryBorrowerLastName"
        - "primaryBorrowerEmail"
        - "primaryBorrowerPhone"
        - "subjectPropertyState"
        - "leadProviderSlug"
    "ErrorResponse":
      description: "Error response object"
      type: "object"
      properties:
        "error":
          type: "object"
          properties:
            "message":
              type: "string"
            "data": {}
          required:
            - "message"
      required:
        - "error"
security:
  - bearerAuth: []
servers:
  - url: "https://core.usegizmo.com/v1"
    description: "Gizmo Production API"
paths:
  "/applications/{id}":
    get:
      operationId: "getApplication"
      responses:
        "200":
          description: "The retrieved Application"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Application"}
        "400":
          description: "Error getting Application"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ErrorResponse"}
      summary: "Get Application"
      tags:
        - "Application"
      parameters:
        - schema:
            type: "string"
          in: "path"
          name: "id"
          required: true
      x-speakeasy-group: "applications"
      x-speakeasy-name-override: "get"
    patch:
      operationId: "updateApplication"
      responses:
        "200":
          description: "The updated Application"
          content:
            "application/json":
              schema:
                type: "null"
        "400":
          description: "Error updating Application"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ErrorResponse"}
        "429":
          description: "Rate limit exceeded"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "kind":
                    type: "string"
                    const: "RateLimited"
                  "name":
                    type: "string"
                  "retryAfter":
                    type: "number"
                required:
                  - "kind"
                  - "name"
                  - "retryAfter"
      summary: "Update Application"
      tags:
        - "Application"
      requestBody:
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                "loanPurpose": {"$ref": "#/components/schemas/LoanPurpose"}
                "crmId":
                  type: "string"
                "losId":
                  type: "string"
                "primaryBorrowerDateOfBirth":
                  type: "string"
                "primaryBorrowerSsn":
                  type: "string"
                "primaryBorrowerEmail":
                  type: "string"
                "primaryBorrowerFirstName":
                  type: "string"
                "primaryBorrowerLastName":
                  type: "string"
                "primaryBorrowerPhone":
                  type: "string"
                "status": {"$ref": "#/components/schemas/Milestone"}
                "subjectPropertyCity":
                  type: "string"
                "subjectPropertyState": {"$ref": "#/components/schemas/State"}
                "subjectPropertyStreetAddress":
                  type: "string"
                "subjectPropertyZip":
                  type: "string"
                "teamId":
                  type: "string"
        required: true
      parameters:
        - schema:
            type: "string"
          in: "path"
          name: "id"
          required: true
      x-speakeasy-group: "applications"
      x-speakeasy-name-override: "update"
  "/applications":
    post:
      operationId: "createApplication"
      responses:
        "200":
          description: "The created Application ID"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "id":
                    type: "string"
                    minLength: 32
                    maxLength: 32
                required:
                  - "id"
        "400":
          description: "Error creating Application"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ErrorResponse"}
        "429":
          description: "Rate limit exceeded"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "kind":
                    type: "string"
                    const: "RateLimited"
                  "name":
                    type: "string"
                  "retryAfter":
                    type: "number"
                required:
                  - "kind"
                  - "name"
                  - "retryAfter"
      summary: "Create Application"
      tags:
        - "Application"
      requestBody:
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                "primaryBorrowerFirstName":
                  type: "string"
                "primaryBorrowerLastName":
                  type: "string"
                "primaryBorrowerEmail":
                  type: "string"
                "primaryBorrowerPhone":
                  type: "string"
                "primaryBorrowerDateOfBirth":
                  type: "string"
                "primaryBorrowerSsn":
                  type: "string"
                "subjectPropertyState": {"$ref": "#/components/schemas/State"}
                "subjectPropertyStreetAddress":
                  type: "string"
                "subjectPropertyCity":
                  type: "string"
                "subjectPropertyZip":
                  type: "string"
                "loanPurpose": {"$ref": "#/components/schemas/LoanPurpose"}
                "losId":
                  type: "string"
                "crmId":
                  type: "string"
                "leadProviderSlug":
                  type: "string"
                "teamId":
                  type: "string"
              required:
                - "primaryBorrowerFirstName"
                - "primaryBorrowerLastName"
                - "primaryBorrowerEmail"
                - "primaryBorrowerPhone"
                - "subjectPropertyState"
                - "leadProviderSlug"
      x-speakeasy-group: "applications"
      x-speakeasy-name-override: "create"
